.App {
  text-align: center;
}

.logo {
  width: fit-content;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pghight {
  height: 90vh;
}

.vh10 {
  height: 10vh;
}

.radius {
  border-radius: 10px;
}

.text-muted {
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  background: #e1f7ff;
  color: #2995be !important;
  font-weight: 600;
  border-radius: 5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}

.user-name {
  color: #ffffff;
  font-size: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.forminput {
  background-color: #ffffff;
  /* align-self: center; */
  padding: 40px;
  width: 100%;
  align-content: center;
}

.contentcenter {
  align-self: center;
}

.text-form {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.fpass {
  color: #616161;
  text-decoration: none;
  cursor: pointer;
}

.formbg {
  display: flex;
  height: 100%;
  width: 100%;
  height: 100%;
}

.h100vh {
  height: 100vh !important;
}

.btnupload {
  width: 100% !important;
}

.mainbg {
  background-color: #2995be;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.btnlogin {
  width: 100%;
}

.centeritem {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textcenter {
  text-align: center;
}

.inputicon {
  background-color: #00000000 !important;
}

.inline {
  display: inline-flex;
}

.mleft {
  margin-left: 20px;
}

.btnupload {
  background-color: #ffffff !important;
  border: 1px solid #d4d4d4 !important;
  margin-bottom: 15px;
  height: 150px;
  width: 100%;
}

.loadingCercle{
  position: absolute;
    left: 45%;
    top: 50%;
    right: 45%;
}

.bgloading{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.btnuploadimg {
  background-color: #ffffff !important;
  border: 1px solid #d4d4d400 !important;
  margin-bottom: 15px;
  height: fit-content;
  width: fit-content;
}

.btntxt {
  color: #616161;
  font-size: 14px;
}

.checkboximg {
  margin-top: -50px;
}
.title {
  border-radius: 15px;
  text-align: center;
  border-color: #030303;
  border-style: outset;
}
.headline {
  text-align: center;
}
.disc {
  text-align: center;
  font-size: small;
}
.btn {
  width: 70%;
}

.text-form2 {
  margin-top: 25px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
  font-size: 13px;
}

.abuteli > li {
  margin-top: 10px;
}

.bolheading {
  font-weight: bold;
}

.bgnav {
  background-color: #2995be;
}

.bdr {
  border: 2px solid #742ac9;
  border-radius: 5px;
}
.bdrafter {
  border: 2px solid #b88aec;
  border-radius: 5px;
}

.btn-option {
  background-color: #00000000 !important;
  border: none;
  height: 30px;
  width: 50px;
  cursor: pointer;
}

.icon {
  width: 40px !important;
}

.activ-btn {
  color: #742ac9;
  background-color: #e7d6fb;
  padding: 8px 15px;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
}

.hold-btn {
  color: #c9842a;
  background-color: #ffe5c2;
  padding: 8px 15px;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
}

.expired-btn {
  color: #000000;
  background-color: #d5d5d5;
  padding: 8px 15px;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
}

.creatorder {
  position: absolute;
  bottom: 50px;
  width: inherit;
}
.chkbox {
  margin-left: 2%;
}

.Rec-order {
  border-radius: 5px;
  background-color: #ebebeb;
  padding: 10px 0px;
}

.opn-order {
  border-radius: 5px;
  background-color: #b1ffe2;
  padding: 10px 0px;
}
.bdr-hold {
  border: 2px solid #c9842a;
  border-radius: 5px;
}
.bdr-expired {
  border: 2px solid #000000;
  border-radius: 5px;
}

.profilrpic {
  width: 65px;
}
.userbar {
  height: 75px;
  /* border-radius: 5px;
  background-color: #d4d4d4; */
  /* display: flex; */
  justify-content: center;
}

.selecteduser{
  background-color: #EFEFEF;
}

.rating-fill {
  height: 12px;
  /* width: 20px; */
  margin: 0px 2px;
  filter: invert(20%) sepia(100%) saturate(2476%) hue-rotate(180deg)
    brightness(118%) contrast(70%);
}

.rating-unfill {
  height: 12px;
  margin: 0px 2px;
  filter: invert(255%) sepia(100%) saturate(2476%) hue-rotate(180deg)
    brightness(118%) contrast(70%);
}

.heartfill {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0px 2px;
  filter: invert(10%) sepia(100%) saturate(2476%) hue-rotate(210deg)
    brightness(118%) contrast(100%);
}

.heartunfill {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0px 2px;
  filter: invert(255%) sepia(100%) saturate(2476%) hue-rotate(180deg)
    brightness(118%) contrast(0%);
}

.phoneimg {
  cursor: pointer;
  width: 32px;
  margin-bottom: 10px;
}
.btndropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btndropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.typebar {
  background-color: #eceaea;
  border-radius: 20px;

  border: none;
  outline: none;
  width: 100%;
}

.sendbtn {
  width: 30px;
  cursor: pointer;
}
.attachbtn {
  margin: 0px 3px;
  cursor: pointer;

  width: 13px;
}

/* .rowmsg {
  position: fixed;
  bottom: 20px;
  width: 78% !important;
} */

.userinfo {
  font-size: 0.8rem;
}

.typemsg {
  height: 15vh;
}

.pright{
  padding-left: 20px !important;
}

.right-bdr {
  border-right: 1px solid #cccccc;
  height: 82vh;
  justify-content: space-between;
}
.tybarbtn {
  padding-top: 5px;
  margin-right: 11px;
  display: flex;
  justify-content: space-evenly;
}
.locationbtn {
  margin-right: 8px;
  height: 15px;
  text-align: center;
}
.Locationbar {
  background-color: #e8e8e8;
  padding: 10px;
  justify-content: center;
}
.dealstats {
  /* display: block !important; */
  text-align: end;
}
.tableheading {
  font-size: 11px;
  color: white;
  background-color: #2995be;
}
.tablebody {
  background-color: #f3f3f3 !important;
}
.Logo {
  height: 60px;
  filter: invert(111) sepia(112%) saturate(2465%) hue-rotate(-188deg)
    brightness(100%) contrast(171%);
  width: 100px;
}

.recivemsg{
  background-color: #adedc6;
  width: fit-content;
  padding: 7px 13px;
  border-radius: 5px;
  color: #045c27;
  font-size: 14px;
  font-weight: 600;
}

.sendmsg{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    float: right;
    justify-content: end;
    /* max-width: 400px; */
}

.sendmsgbg{
  background-color: #94e2ff;
  color: #076b91;
  width: -moz-fit-content;
  width: fit-content !important;
  padding: 7px 13px;
  border-radius: 5px;
  margin-right: 20px !important;
}


  ::-webkit-scrollbar {
    display: none;
}


.msgs{
  overflow: scroll;
  height: 49vh;
}

.selecttab{
  cursor: pointer;
  border-bottom: 2px solid #0f7420;
  text-align: center;
  color: #0F7420;
  
}
.selecttab >h6{
 font-size: 14px;

}
.unselecttab{
  cursor: pointer;
  text-align: center;
  color: #7F7F7F;
}
.unselecttab >h6{
  font-size: 14px;
 
 }

 .prl-msg{
   padding: 0px 10px ;
 }

 
 .prl-automsg{
  padding: 10px  ;
}

.chattxt{
  padding: 10px;
}

.user-scroll{
  height: 82vh;
    overflow: scroll;

}

/* .nav-tabs> .nav-item{
  cursor: pointer;
  border-bottom: 2px solid #0f7420;
  text-align: center;
  color: #0F7420;
} */

.nav-item{
  width: 200px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{

  font-size: 15px  !important;
  width: 200px;

  cursor: pointer !important;
  border-bottom: 2px solid #0f7420 !important;
  text-align: center !important;
  font-weight: 700;
  color: #0F7420 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.nav-tabs .nav-link{
  font-weight: 700;
  width: 200px;

  font-size: 14px  !important;
  cursor: pointer !important;
  border-bottom: none !important;
  text-align: center !important;
  color: #7f7f7f!important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.mb-3 {
  margin-bottom: 0rem!important; 
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.threedots:after {
  text-decoration: none !important;
  color: #000000;
  content: "\2807";
  font-size: 30px;
}
.infopopup{
  background-color: #ffffff;
  justify-content: space-around;
  width: 300px;
  margin-top: 84px !important;
  margin-left: 13px !important;
  box-shadow: 5px 10px 11px #0000006b;
  border: 1px solid #d4d4d4;
  padding: 10px;
}
